.register-container {
  display: flex;
  flex-direction: column;
}

.register-container .btn-back {
  cursor: pointer;
  text-align: right;
  color: white;
  font-size: 14px;
  background-color: #003f69;
  border-bottom: 1px solid white;
  border: none;
  padding: 1em;
}

.register-container form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 20px;
  margin: 30px auto;
}

form input {
  width: 350px;
  padding: 0.5em;
  outline: none;
  border: none;
  border-bottom: 1px solid #003f69;
}

form button {
  padding: 0.5em 1em;
  border-radius: 5px;
  border: none;
  background-color: #003f69;
  color: white;
  cursor: pointer;
  width: 350px;
}

form button:hover {
  background-color: #0268ac;
}
